<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label color="light" *ngIf="carrito.length === 0">
    No hay juegos en el carrito
  </ion-label>
  <ion-list *ngIf="carrito.length > 0">
    <ion-item *ngFor="let item of carrito">
      <ion-thumbnail slot="start">
        <img src="{{item.thumbnail}}">
      </ion-thumbnail>
      <ion-label color="light">{{item.title}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="primary" [disabled]="carrito.length === 0" (click)="realizarPedido()">Pedir</ion-button>
</ion-content>
