<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-menu-button menu="administration">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Plataformas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-segment (ionChange)="segmentChanged($event)" value="PC (Windows)">
  <ion-segment-button value="PC (Windows)">
    PC (Windows)
  </ion-segment-button>
  <ion-segment-button value="Web Browser">
    Web Browser
  </ion-segment-button>
</ion-segment>
</ion-content>

<ion-footer>
  <ion-tab-bar>
   <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button [routerLink]="['/juegos']">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Juegos</ion-label>
      </ion-tab-button>
      
      <ion-tab-button [routerLink]="['/plataformas']">
        <ion-icon name="rocket-outline"></ion-icon>
        <ion-label>Plataformas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>No Works</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-tab-bar>
</ion-footer>