<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Administracion</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list #lista>
    <ion-item-sliding *ngFor="let usuario of usuarios">
      <ion-item *ngIf="usuario.deleted==0 && usuario.type=='u'">
        <ion-label>
          <h3>{{ usuario.firstname }} {{ usuario.secondname }}</h3>
          <p>{{ usuario.email }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="success" *ngIf="usuario.actived==0" (click)="activar(usuario.id)">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" *ngIf="usuario.actived==1" (click)="desactivar(usuario.id)">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="eliminar(usuario.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-tab-bar>
   <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">

      <ion-tab-button [routerLink]="['/admin']">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>
      
      <ion-tab-button [routerLink]="['/grafica']">
        <ion-icon name="pie-chart-outline"></ion-icon>
        <ion-label>Grafica</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-tab-bar>
</ion-footer>
