<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-menu-button menu="administration">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-list>
  <ion-item *ngFor="let item of juegos, let i = index"> 
    <ion-card color="tertiary" > 
      <ion-item color="tertiary">
        <ion-thumbnail slot="start">
          <img src="{{item.thumbnail}}">
        </ion-thumbnail>
        <ion-card-header>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
      </ion-item>
      <ion-card-content>
        <p *ngIf="isFull[i] === true">{{item.short_description}} <span style="color: #222428" (click)="toggleMore(i)">... ver menos</span></p>
        <p *ngIf="isFull[i] === false">{{item.short_description | filtro :10}} <span style="color: #222428" (click)="toggleMore(i)">... ver mas</span></p>
        <p>Desarrolladora: {{item.developer}}</p>
        <p>Plataforma: {{item.platform}}</p>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando mas juegos...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-tab-bar>
   <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button [routerLink]="['/juegos']">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Juegos</ion-label>
      </ion-tab-button>
      
      <ion-tab-button>
        <ion-icon name="rocket-outline"></ion-icon>
        <ion-label>Plataformas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>No Works</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-tab-bar>
</ion-footer>