<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-menu-button menu="administration">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list *ngFor="let item of juegos">
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="{{item.thumbnail}}">
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
    </ion-item>
      <ion-card-content>
        <p>{{item.short_description}}</p>
        <p>Desarrolladora: {{item.developer}}</p>
        <p>Plataforma: {{item.platform}}</p>
      </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
<ion-footer>
  <ion-tab-bar>
   <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/user']">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Juegos</ion-label>
      </ion-tab-button>
      
      <ion-tab-button>
        <ion-icon name="rocket-outline"></ion-icon>
        <ion-label>Plataformas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>No Works</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-tab-bar>
</ion-footer>