<ion-header>
  <ion-toolbar>
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
     
        <ion-img src="{{item.src}}"></ion-img>
    
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">REGISTRO</ion-button>
        <br>  
          <div class="ion-text-center"> 
            <ion-label>Or</ion-label>
          </div>
        <br>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">INICIAR SESION</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

