<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img src="/assets/logo.png"></ion-img>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registro']" expand="block" color="primary">REGISTRO</ion-button>
        <br>  
          <div> 
            <ion-label></ion-label>
          </div>
        <br>
        <ion-button [routerLink]="['/login']" expand="block" color="primary">INICIAR SESION</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

